:root {
    --primary-color: #06283D;
    --secondary-color: #2E424E;
    --tertiary-color: #47B5FF;
    --quarternary-color: #DFF6FF;
    --background-color: #292F2F;
    --font-family: 'Inter', sans-serif;
    --mono-font: 'PT Mono', monospace;

    --text-bright: #CCD6F6;
    --text-regular: #A8B2D1;
    --text-dark: #8892B0;
    --text-accent: #5EFFF9;
}

html,
body {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}

section {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

section #intro {}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--text-accent);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--text-accent);
    border-radius: 0px;
    border: 3px solid var(--background-color);
}

h1 {
    font-size: 4em;
    font-family: var(--font-family);
    line-height: 1em;
    color: var(--text-bright);
}

h2 {
    font-size: 2em;
    font-family: var(--mono-font);
    line-height: 1.5em;
    color: var(--text-regular);
}

h3 {
    font-size: 1.6em;
    font-family: var(--mono-font);
    color: var(--text-dark);
}

p {
    font-size: 1.1em;
    font-family: var(--font-family);
    line-height: 1.5em;
    color: var(--text-dark);
}

.small-text {
    font-size: 1.2em;
}

.very-small-text {
    font-size: 1.1em;
}

.bold {
    font-weight: 600;
}

.mono {
    font-family: var(--mono-font) !important;
}

.accent-text {
    line-height: 2em !important;
    color: var(--text-accent);
}

.bright-text {
    color: var(--text-bright);
}

.no-margin {
    margin: 0;
}

.bg-wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 64px;
}

.navbar {
    width: 100vw;
    height: 64px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navbar-item {
    padding-right: 64px;
}

.navbar-item a {
    padding: 16px 16px;
    padding-bottom: 8px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.navbar-item a p {
    margin: 0;
    font-size: 1.2em !important;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--text-accent);
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-accent);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-number {
    font-size: 1.1em;
}

.button {
    color: var(--text-accent);
    background-color: transparent;
    border: 1px solid var(--text-accent);
    border-radius: 10px;
    padding: 16px 32px;
    font-size: 0.8em;
    font-family: var(--mono-font);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: solid 1px var(--quarternary-color);
    border-right: solid 1px var(--quarternary-color);
}

.content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.section-number {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-number .number {
    padding-right: 10px;
    border-bottom: solid 1px var(--quarternary-color);
}

.number p {
    font-size: 1.7em;
}

.section-number .bracket {
    width: 20px;
    height: 200px;
    border-top: solid 1px var(--quarternary-color);
    border-left: solid 1px var(--quarternary-color);
    border-bottom: solid 1px var(--quarternary-color);
}

.section-content {
    width: 100%;
}

.bullet-list-wrapper {
    width: 100%;
}

.bullet-list-wrapper ul {
    column-count: 2;
    column-width: 50%;
    list-style-type: none;
    list-style-position: inside;
    color: var(--text-regular);
    font-family: var(--mono-font);
}

.bullet-list-wrapper ul li {
    margin-bottom: 8px;
    font-size: 1.2em;
}

.bullet-list-wrapper ul li::before {
    width: 1em;
    margin-left: -1em;
    display: inline-block;
    content: "\2022";
    color: var(--text-accent);
}

.accordion {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.accordion-item {
    border-left: solid 2px var(--text-dark);
}

.accordion-item.accordion-active {
    border-left: solid 2px var(--text-bright);
}

.accordion-item:hover {
    border-left: solid 2px var(--text-bright);
}

.accordion-item.accordion-active .accordion-title p {
    color: var(--text-accent) !important;
}

.accordion-item .accordion-expand {
    height: 0;
    transition: all 1s;
}

.accordion-item.accordion-active .accordion-expand {
    height: 100px;
    transition: all 1s;
}

.accordion-title {
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.accordion-title:hover {
    cursor: pointer;
}

.accordion-title:hover p {
    color: var(--text-accent);
}

.accordion-expand {
    padding: 0;
    padding-left: 32px;
    overflow: hidden;
    transition: all 0.5s;
}

.portfolio-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.portfolio-section {
    position: relative;
}

.portfolio-card {
    width: 60%;
    margin-left: 32px;
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--secondary-color);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.card-text {
    flex: 2;
    padding: 16px;
}

.portfolio-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.portfolio-image img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.portfolio-button {
    position: absolute;
    margin-top: 32px;
}

.divider {
    margin: 16px 0;
    border-bottom: solid 1px var(--text-dark);
}