:root {
    --primary-color: #06283D;
    --secondary-color: #2E424E;
    --tertiary-color: #47B5FF;
    --quarternary-color: #DFF6FF;
    --background-color: #292F2F;
    --font-family: 'Inter', sans-serif;
    --mono-font: monospace;

    --text-bright: #CCD6F6;
    --text-regular: #A8B2D1;
    --text-dark: #8892B0;
    --text-accent: #5EFFF9;
}

.typing-anim {
    width: 26ch;
    animation: typing 2s steps(26), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 2px var(--text-accent);
    font-size: 2.4em;
    font-family: monospace;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}